<div class="row center-ch">
	<div class="span3 ori-ch">
		<%= image_tag("home/orig-iryaa.png") %>
	</div>
	<div class="span4">
		<p class="con-ch">we<font color="#d52388"> create</font> brands, <font color="#006582">identify</font> and
			<font color="#6d6e70">develop</font> strategies that drives performance to meet new challenges.</p>
	</div>
</div>
<div class="row bottom-ch">
	<div class="span3 cont-ch1">
		<h2>Strategic<br /> Brand Consulting</h2>
		<p>Ideas that makes you unique<br /> among a group</p>
	</div>
	<div class="span3 cont-ch2">
		<h2>Communication<br />Design</h2>
		<p>Creative expertise and innovation <br /> in design</p>
	</div>
	<div class="span3 cont-ch3">
		<h2>Comprehensive<br /> Marketing</h2>
		<p>Assist to identify the potential <br />customers & promote</p>
	</div>
</div>
<hr>